/* _cards.scss */

/* Fix per il problema dello scroll */
section[id] {
  scroll-margin-top: 60px; /* Modifica il valore in base all'altezza della navbar */
}

/* Stile migliorato per le card */
.custom-card {
  min-height: 320px;
  background-color: #f8f9fa; /* Grigetto di sfondo */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;


  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  /* Icona in alto a destra */
  .card-icon {
    width: 64px;
    height: 64px;
    color: #333; /* Colore dell'icona (puoi cambiare il colore) */
    z-index: 1; /* Assicurati che l'icona sia sopra gli altri contenuti */
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
  }

  .card-text {
    font-size: 14px;
    color: #666;
  }

  .btn-primary {
    background-color: #ff5a5f; /* Stesso colore del CTA */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #e04e50;
    }

    /* Freccia nel bottone */
    .btn-icon {
      margin-left: 8px;
      font-size: 18px;
    }
  }
}

.custom-card-service {
  min-height: 280px;
  padding: 3%;
  border: none;
  background-color: rgba(211, 211, 211);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  /* Icona in alto a destra */
  .card-icon {
    width: 64px;
    height: 64px;
    color: #333; /* Colore dell'icona (puoi cambiare il colore) */
    background-color: #ff5a5f;
    border-radius: 10px;
    z-index: 1; /* Assicurati che l'icona sia sopra gli altri contenuti */
    margin-bottom: 5px;
    padding: 3%;
  }
}

/* Solo per la pagina dei Principi, riduciamo l'altezza delle card */
#principi .custom-card {
  /* Impostiamo un'altezza fissa pari a circa un terzo dell'altezza standard (es. 100px) */
  height: 50px;
  overflow: hidden;  // Nasconde il contenuto in eccesso
}

/* Se desideri che anche il contenuto (card-body) si adatti, riduci anche il padding */
#principi .custom-card .card-body {
  padding: 10px 15px;
}


////

// Stili specifici per il Pacchetto All-Inclusive (card evidenziata)
.card.border-primary {
  .card-header {
    background-color: #ff5a5f !important; // Imposta lo sfondo rosso per il titolo, usando !important per sovrascrivere eventuali classi esistenti (come bg-primary)
    color: #fff; // Testo bianco per il contrasto
  }
}

/* SCSS Custom per la sezione Pacchetti */
#pacchetti {
  .card {
    border-color: #ff5a5f;
    /*.card-header {
      background-color: #dbd3c68f !important; // Sfondo rosso per il titolo
    }
      */
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      }
    
    .card-body {
      padding: 2rem; // Aumenta leggermente il padding rispetto al default

      ul {
        text-align: left;      // Allinea a sinistra le features
        padding-left: 1.25rem; // Imposta il padding sinistro per i bullet point
        font-size: 14px;
      }
    }

    .header-icon {
      position:absolute;
      left: 20px;         // Posiziona l'icona a sinistra
      top: 9%;           // Posiziona verticalmente al centro del box
      transform: translateY(-50%);
      width: 40px;        // Dimensione come da te indicata
      height: auto;
      filter: brightness(0); // Rende l'icona nera (se supportato)
    }
  }
  

  }
  
  // Stili specifici per il Pacchetto All-Inclusive evidenziato
  .package-highlight {
    .card.border-primary{
      border: 1px solid #ff5a60; // Bordo rosso
    }

    .card-header {
      background-color: #ff5a60ab !important; // Sfondo rosso per il titolo
      color: #fff; // Testo bianco per garantire il contrasto
    }
  }


.rounded-box {
  border-radius: 15px; /* Angoli smussati */
  background-color: #f8f9fa; /* Sfondo chiaro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Altezza uniforme per tutte le colonne */

}

.custom-img {
  width: 100%; /* L'immagine occupa tutta la larghezza del box */
  height: 100%; /* L'immagine occupa tutta l'altezza del box */
  object-fit: cover; /* Ritaglia l'immagine per coprire l'intero spazio senza deformarsi */
  border-radius: 15px; /* Se vuoi che anche l'immagine abbia angoli smussati */
}

.service-box {
  border: 2px solid #ff5a5f; /* Bordo visibile con colore */
  padding: 20px 20px 0px 20px; /* Riduci il padding inferiore */
  border-radius: 10px; /* Angoli smussati */
  margin-bottom: 40px;
}


/* Rimuovi o riduci il margine inferiore dalla sezione e dai suoi componenti */
#cards-section {
  margin-bottom: 0 !important; // Rimuove il margine inferiore della sezione
  padding-bottom: 0 !important; // Rimuove il padding inferiore della sezione
}
