
/* Remove header, .home, .menu, .logo, .brand, .roma-text, nav, and .divider styles as they're in common.css */

.divider {
    height: 30px;
    width: 1px;
    background-color: #dbd3c6;
    margin: 0 15px;
}
/* Sections */
.intro {
    text-align: center;
    padding: 100px 40px 40px;
}

.divider-thin {
    width: 80px;
    height: 1px;
    background-color: #dbd3c6;
    margin: 20px auto;
}

.space{
    height: 30px;
}

/* CTA Button Menù */
.cta-button {
    background-color: #ff5a5f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e04e50;
}


*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  
  a {
    color: #acb7c0;
    text-decoration: none;
    font-family: "Lato";
  }
  
  img {
    max-width: 100%;
  }
  
  h1,
  h2 {
    font-family: "Lato";
    font-weight: bold;
  }
  
  /* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
  .cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
  }
  .cd-container::after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
  /* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
  
  #cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #cd-timeline::before {
    /* this is the vertical line */
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #dbd3c6;
  }
  @media only screen and (min-width: 1170px) {
    #cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em;
    }
    #cd-timeline::before {
      left: 50%;
      margin-left: -2px;
    }
  }
  
  .cd-timeline-block {
    position: relative;
    margin: 2em 0;
  }
  .cd-timeline-block::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-block {
      margin: 4em 0;
    }
    .cd-timeline-block:first-child {
      margin-top: 0;
    }
    .cd-timeline-block:last-child {
      margin-bottom: 0;
    }
  }
  
  .cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #dbd3c6, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  .cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
  .cd-timeline-img.cd-picture {
    background: #000000;
  }
  .cd-timeline-img.cd-movie {
    background: #ada79d;
  }
  .cd-timeline-img.cd-location {
    background: #615d58;
  }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
      visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-1 0.6s;
      -moz-animation: cd-bounce-1 0.6s;
      animation: cd-bounce-1 0.6s;
    }
  }
  
  @-webkit-keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  @-moz-keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -moz-transform: scale(0.5);
    }
    60% {
      opacity: 1;
      -moz-transform: scale(1.2);
    }
    100% {
      -moz-transform: scale(1);
    }
  }
  @keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
  .cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #dbd3c6;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #615d58;
    text-align: left;
  }
  .cd-timeline-content::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-timeline-content h2 {
    color: #000000;
  }
  .cd-timeline-content p,
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    display: inline-block;
  }
  .cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
  }
  .cd-timeline-content .cd-read-more {
    float: right;
    padding: 0.8em 1em;
    background: #ff5a5f;
    color: #ffffff;
    border-radius: 0.25em;
  }
  .no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #e04e50;
  }
  .cd-timeline-content .cd-date {
    float: left;
    padding: 0.8em 0;
    opacity: 0.7;
  }
  .cd-timeline-content::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
  }
  @media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }
    .cd-timeline-content p {
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%;
    }
    .cd-timeline-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #ffffff;
    }
    .cd-timeline-content .cd-read-more {
      float: left;
    }
    .cd-timeline-content .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
      float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #ffffff;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
      float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
      left: auto;
      right: 122%;
      text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
      visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-2 0.6s;
      -moz-animation: cd-bounce-2 0.6s;
      animation: cd-bounce-2 0.6s;
    }
  }
  
  @media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
      -webkit-animation: cd-bounce-2-inverse 0.6s;
      -moz-animation: cd-bounce-2-inverse 0.6s;
      animation: cd-bounce-2-inverse 0.6s;
    }
  }
  @-webkit-keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -moz-transform: translateX(20px);
    }
    100% {
      -moz-transform: translateX(0);
    }
  }
  @keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      -o-transform: translateX(20px);
      transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @-webkit-keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -moz-transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -moz-transform: translateX(-20px);
    }
    100% {
      -moz-transform: translateX(0);
    }
  }
  @keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      -o-transform: translateX(-20px);
      transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .custom-bullet {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Align to the left */
}

.custom-bullet li {
    position: relative;
    /*padding-left: 20px; /* Space for the custom bullet */
}

.custom-bullet li::before {
    /*content: "○"; /* Empty dot */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px; /* Adjust size if needed */
}

/* Griglia per i pacchetti - Service Grid */
.service-grid {
  width: 90%;
  max-width: 1100px;
  margin: auto;           /* Centra la griglia */
  border-radius: 5px;          /* Angoli smussati per l'intera griglia */
  border-collapse: collapse;   /* Unisce i bordi */
}

.service-grid th,
.service-grid td {
  border: 1px solid #dbd3c6;   /* Linee sottili, colore chiaro */
  padding: 0px;
  text-align: center;
}

.service-grid th {
  background-color: #f9f6f2;   /* Colore di sfondo leggero per l'intestazione */
  font-weight: bold;
}

.service-grid td {
  background-color: #fff;
}

/* Imposta la larghezza del primo campo per accomodare il testo lungo */
.service-grid th:first-child,
.service-grid td:first-child {
  width: 40%;
  text-align: left;
  padding-left: 20px;
}

/* Le altre colonne si adattano in modo uguale */
.service-grid th:not(:first-child),
.service-grid td:not(:first-child) {
  width: 12%;
  height: 20px;               /* Cella quasi quadrata per le spunte */
  vertical-align: middle;
  line-height: 40px;          /* Centra verticalmente il contenuto */
}

/* Sezione Packages Container */
.packages-container {
  text-align: center;
  padding: 60px 0px 0px;
  background-color: #f9f6f2; /* Colore della palette */
}

.packages-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #000;
}

.packages-container p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

/* Griglia dei box */
.packages-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Box singolo per ciascun pacchetto */
.package-box {
  background-color: #fff;
  border: 1px solid #dbd3c6;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 250px;       /* Minimum width 250px, si adatta allo spazio disponibile */
  max-width: 300px;       /* Larghezza massima uguale per ogni box */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.package-box:hover {
  background-color: #f0e9e2; /* Leggero cambio di colore in hover */
  transform: translateY(-5px);
}

.package-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}

.package-box .divider {
  border: none;
  height: 1px;
  background-color: #dbd3c6;
  margin: 10px 0;
}

.package-box .description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.package-box ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: left;
}

.package-box ul li {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  position: relative;
  padding-left: 20px;
}

.package-box ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #615d58;
}
